<?xml version="1.0"?>
<config>
    <modules>
        <Wsu_PrintProducts>
            <version>0.1.0</version>
        </Wsu_PrintProducts>
    </modules>
    <global>
        <blocks>
            <wsu_printproducts>
                <class>Wsu_PrintProducts_Block</class>
            </wsu_printproducts>
        </blocks>
        <helpers>
            <wsu_printproducts>
                <class>Wsu_PrintProducts_Helper</class>
            </wsu_printproducts>
        </helpers>
        <models>
            <wsu_printproducts>
                <class>Wsu_PrintProducts_Model</class>
            </wsu_printproducts>
        </models>
        <catalog>
            <product>
                <type>
                    <printable translate="label" module="wsu_printproducts">
                        <label>Event</label>
						<model>wsu_printproducts/product_type_printable</model>
						<index_data_retreiver>wsu_printproducts/catalogIndex_data_printable</index_data_retreiver>
                        <!--<price_model>wsu_eventtickets/product_price</price_model>-->
						<is_qty>0</is_qty>
						<index_priority>50</index_priority>
						<!--<price_indexer>catalog/product_indexer_price_grouped</price_indexer>-->
                    </printable>
                </type>
            </product>
        </catalog>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wsu_printproducts before="Mage_Adminhtml">Wsu_PrintProducts_Adminhtml</wsu_printproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wsu_printproducts>
                    <file>wsu/printproducts.xml</file>
                </wsu_printproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wsu_PrintProducts>
                    <files>
                        <default>Wsu_PrintProducts.csv</default>
                    </files>
                </Wsu_PrintProducts>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wsu_printproducts>
            <config>
                <!--
				Some examples on the config defaults
				<theme>go</theme>
				<showmageads>0</showmageads>
				<logo>logo.gif</logo>-->
            </config>
        </wsu_printproducts>
    </default>
</config>
